* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  header nav ul li {
    margin: 0;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
  }
  
  #home {
    background-color: #1e3d58;
    color: white;
    text-align: center;
  }
  
  #about, #projects, #contact {
    background-color: #ffffff;
  }
  
  #projects .project {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  
  @media (max-width: 600px) {
    header nav ul {
      flex-direction: column;
    }
  }
  